
body {
  #root {
    height: 100px;
    background-color: pink;
    background-image: url('../images/dog-3.jpeg');
    border-radius: 6px;
    box-shadow: 1px;
  }

  .container {
    background-image: url('../images/dog-2.jpeg');
  }
}
