
.report-table-container {
  table {
    margin-top: 10px;
    border: 1px solid #ccc;
    tr {
      padding: 8px 0px;
      border-bottom: 1px solid #707070;
    }
    tbody {
      tr:last-child, td:last-child {
        background: #eee;
        font-weight: bold;
      }
    }
    td, th {
      padding: 8px;
    }
  }
}
