// make it only works in issue page
// in dashboard page we will use bulma css
.issue-report-container
.report-table-container {
  table {
    margin-top: 10px;
    border: 1px solid #ccc;
    tr {
      border-bottom: 1px solid #707070;
    }
    td, th {
      padding: 8px;
    }
    tbody {
      th:last-child {
        background: #eee;
        font-weight: bold;
      }
    }
    tfoot {
      background: #eee;
      font-weight: bold;
      th {
        text-transform: none;
      }
    }
  }
}
