
.report-box-container {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #428BCA;
}

table {
  border: 1px solid black;
  margin: 4px;
  padding: 4px;

  td, th {
    border: 1px solid black;
    margin: 4px;
    padding: 4px;
  }
}
