
.report-box-container {
  padding: 20px;
  border: 1px solid black;
}

table {
  border: 1px solid black;
  margin: 4px;
  padding: 4px;

  td, th {
    border: 1px solid black;
    margin: 4px;
    padding: 4px;
  }
}
