
.report-box-container {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #428BCA;

  .field-label .label {
    width: 72px;
  }
  .field-body {
    max-width: 300px;
  }

  .goback-link {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 16px;
  }
}
