
.report-box-container {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #428BCA;

  .report-filters {
    margin-bottom: 10px;

    select, input, button {
      margin: 4px;
    }

    .filters-container {
      box-sizing: border-box;
      display: inline-block;
      padding: 8px;
      height: 50px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 4px;
    }
  }
}
