
.report-box-container {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #428BCA;

  .field-label .label {
    width: 68px;
  }

  .report-filters {
    margin-bottom: 10px;

    display: flex;
    align-items: center;

    .filters-container {
      display: flex;
      align-items: center;

      .select, .input-date, a.button {
        margin-right: 4px;
      }
    }

    .filters-container:after {
      content: '|';
      padding: 0px 8px 0px 4px;
    }

    .input-date {
      width: auto;
    }
  }
  
  .goback-link {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 16px;
  }
}
